
<ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>

<!-- <div class="form-group row">
    <label for="inputEmail1" class="col-md-3 col-form-label">Division</label>
    <div class="col-md-9">
      <div class="dropdown input-group-btn" ngbDropdown>
        <button type="button" class="btn btn-outline-success dropdown-toggle" ngbDropdownToggle>
          {{selectedDivision.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let division of divisionList" (click)="onDivisionChange(division)">{{division.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail1" class="col-md-3 col-form-label">Team</label>
    <div class="col-md-9">
      <div class="dropdown input-group-btn" ngbDropdown>
        <button type="button" class="btn btn-outline-success dropdown-toggle" ngbDropdownToggle>
          {{selectedTeam.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let team of changebleTeamList" (click)="onTeamChange(team)">{{team.name}}</li>
        </ul>
      </div>
    </div>
  </div> -->
