<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-1">
        Inventory
      </div>
      <div class="col-md-7">
        &nbsp;
      </div>
      <!-- <div class="col-md-4">
        <div style="display: inline;">
          <button class="btn btn-success pull-right" (click)="showAddIssue()">
            + Add
          </button>
          <button class="btn btn-success pull-right" (click)="showSummery()" style="margin-right: 10px;">
            Summery
          </button>
        </div>
      </div> -->
    </div>
  </nb-card-header>
  <nb-card-body>
    <inventory-list></inventory-list>
  </nb-card-body>
</nb-card>