<div class="row">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2">
          <label for="inputEmail1" class="col-form-label">From Date:</label>
        </div>
        <div class="col-sm-3">
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="fromDate" required></my-date-picker>
        </div>
        <div class="col-sm-2">
          <label for="inputEmail1" class="col-form-label">To Date:</label>
        </div>
        <div class="col-sm-3">
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="toDate" required></my-date-picker>
        </div>
        <div class="col-md-2" style="top: -4px;">
          <button class="btn btn-success input-group-text pull-right btn-sm" (click)="getInvoiceByDate()">
            Search
          </button>
        </div>
      </div>
  
    </div>
  </div>
<div style="padding-top: 32px;">
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="openModalWindow(content,$event.data)" (delete)="onDelete()">
    </ng2-smart-table>
  </div>

  <!-- ---------------------------------------------------------------------------------------------------------- -->

  <ng-template id="paymentModalWindow" #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Payment Window For Credit</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModalWindow()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row" style="height:665px;">
      <div class="col-md-12" style="height: 70px;">
        <div class="row" style="padding-right: 20px;">
          <div class="col-md-9">
            <fieldset id="payment_method">
              <legend style="padding-left: 19px;">Payment Method</legend>
              <div class="fieldgroup">
                <input type="radio" name="gender" value="CH" (click)="selectPaymentType($event.target.value)" [checked]="isCheckedCash" >
                Cash<br>
              </div>
              <div class="fieldgroup">
                <input type="radio" name="gender" value="CD" (click)="selectPaymentType($event.target.value)" [checked]="isCheckedCreditCard"> Credit Card<br>
              </div>
              <div class="fieldgroup">
                <input type="radio" name="gender" value="DB" (click)="selectPaymentType($event.target.value)" [checked]="isCheckedDebitCard"> Debit Card<br>
              </div>
              <!-- <div class="fieldgroup">
                <input type="radio" name="gender" value="LN" (click)="selectPaymentType($event.target.value)" [checked]="isCheckedCredit"> Credit<br>
              </div> -->
              <div class="fieldgroup">
                <input type="radio" name="gender" value="CQ" (click)="selectPaymentType($event.target.value)" [checked]="isCheckedCheque"> Cheque<br>
              </div>
             
            </fieldset>
          </div>
          <div class="col-md-3" style="padding-top: 32px;">
            <div>
              <my-date-picker name="paymentDate" [options]="myDatePickerOptions" [(ngModel)]="paymentDate" required></my-date-picker>
            </div>
          </div>
        </div>
        
        <div style="padding: 10px; padding-top: 50px;">
          <div class="row">
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">Invoice Amount</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" id="invoiceAmount" type="text" name="invoiceAmount" style="height: 40px;"
                    value="{{invoiceAmount | number:'1.2-2'}}" placeholder="0.00" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">Total Payment</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" id="amount" type="text" name="amount" style="height: 40px;"
                    value="{{totalPayment | number:'1.2-2'}}" placeholder="0.00" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="isShowCashFild">
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">{{fildName}}</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" (change)="getBalanceAmount($event.target.value)" id="cash" numericType="decimal" double-number-directive
                    type="text" style="height: 40px;" name="cash" value="{{amount | number:'1.2-2'}}" placeholder="0.00">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showChequeFild">
          <div class="row" *ngIf="showChequeFild">


            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">Cheque No</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" id="chequeNo" [(ngModel)]="chequeNo" type="text"
                    style="height: 40px;" name="chequeNo" value="">
                </div>
              </div>
            </div>

            <div class="col-md-3 main-font form-group mb-2" style="padding: 0px;padding-right:5px;">
              <select class="form-control text-right" (change)="setSelectedBank($event.target.value)"
                style="width: 100%;height: 40px;">
                <option selected [value]="-1">Select Bank</option>
                <option *ngFor="let bank of bankList" [value]="bank.bankId">
                  {{ bank.bankName }}
                </option>
              </select>
            </div>
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">Description</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" id="chequeDescription" [(ngModel)]="chequeDescription" type="text"
                    style="height: 40px;" name="chequeNo" value="">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm">
                  <label for="inputEmail1" style="padding-top: 3px;">Cheque Date:</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <my-date-picker name="chequeDate" [options]="chequeDatePickerOptions" [(ngModel)]="chequeDate" required>
                  </my-date-picker>
                </div>
              </div>
            </div>
          </div>

        </div>
          <div class="row" *ngIf="showCardFild">
              <div class="col-md-8" style="height: 70px;">
                <div class="row form-group">
                  <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                    <label for="amount">Card Ref No</label>
                  </div>
                  <div class="col-md-8 main-font form-group mb-2">
                    <input class="text-right form-control" id="cardRefNo" [(ngModel)]="cardRefNo" type="text"
                      style="height: 40px;" name="cardRefNo" value="">
                  </div>
                </div>
              </div>
            </div>
          <div class="row" *ngIf="isShowCashFild">
            <div class="col-md-8" style="height: 70px;">
              <div class="row form-group">
                <div class="col-md-4 main-font hidden-sm" style="padding-top: 20px;">
                  <label for="amount">Payable Amount</label>
                </div>
                <div class="col-md-8 main-font form-group mb-2">
                  <input class="text-right form-control" id="payable" type="text" name="balance" style="height: 40px;"
                    value="{{payable | number:'1.2-2'}}" placeholder="0.00" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-left: 15px;">
            <div class="col-md-2" >
                <button class="btn btn-md btn-success" (click)="saveCreditInvoice()">Create</button>
            </div>
            <div class="col-md-2" >
                <button type="button" class="btn btn-md btn-danger" (click)="closeModalWindow()">Close</button>
            </div>
  
          </div>
        </div>
        <div class="col-md-3" style="height: 70px;">
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="closeModalWindow()">Close</button>
    </div> -->
  </ng-template>

  <!--  -->
