<div class="row">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2">
          <label for="inputEmail1" class="col-form-label">From Date:</label>
        </div>
        <div class="col-sm-3">
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="fromDate" required></my-date-picker>
        </div>
        <div class="col-sm-2">
          <label for="inputEmail1" class="col-form-label">To Date:</label>
        </div>
        <div class="col-sm-3">
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="toDate" required></my-date-picker>
        </div>
        <div class="col-md-2" style="top: -4px;">
          <button class="btn btn-success input-group-text pull-right btn-sm" (click)="getInvoiceByDate()">
            Search
          </button>
        </div>
      </div>
  
    </div>
  </div>
  <div style="padding-top: 32px;">
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)">
    </ng2-smart-table>
  </div>