<div class="modal-header">
  <span>Edit Item Details</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-12 col-form-label" style="font-weight: 800;" > {{itemCode}} :- {{itemName}}</label>
      </div>

    </form>
  <form>
    <div class="form-group row">
      <label for="purchaseData" class="col-sm-3 col-form-label">Cost</label>
      <div class="col-sm-8">
        <input [(ngModel)]="costprice" type="text" name="costprice" class="form-control" id="costprice" placeholder="Cost" numericType="decimal" double-number-directive>
      </div>
    </div>
    <div role="separator" class="dropdown-divider"></div>
    <div class="form-group row">
      <label for="customerPrice" class="col-sm-3 col-form-label">Showroom Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="customerPrice" type="text" name="customerPrice" class="form-control" id="customerPrice" placeholder="Customer price" numericType="decimal" double-number-directive>
      </div>
    </div>
    <div class="form-group row">
      <label for="fabricatorPrice" class="col-sm-3 col-form-label">Fabricater Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="fabricatorPrice" type="text" name="fabricatorPrice" class="form-control" id="fabricatorPrice" placeholder="Fabricater Price" numericType="decimal" double-number-directive>
      </div>
    </div>
    <div class="form-group row">
      <label for="mrpPrice" class="col-sm-3 col-form-label">MRP</label>
      <div class="col-sm-8">
        <input [(ngModel)]="mrpPrice" type="text" name="mrpPrice" class="form-control" id="mrpPrice" placeholder="Price" numericType="decimal" double-number-directive>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="saveItemDetail()">proceed</button>
  <button class="btn btn-hero-secondary btn-demo" (click)="closeModal()">Close</button>
</div>
