<!-- <nb-card size="large" style="height: 100%">
  <nb-tabset (tabChange)="onTabChange($event)">
    <nb-tab  [id]="first" [title]="First" tabTitle="Cheque">
    
    </nb-tab>
    <nb-tab tabTitle="Cash">

    </nb-tab>
  </nb-tabset>
</nb-card> -->

<!-- <ngb-tabset #tabs>
    <ngb-tab id="cheque">
        <ng-template ngbTabTitle>
            <a [routerLink]="['/pages/payment-handle']">Cheque</a>
        </ng-template>
        <ng-template ngbTabContent>

        </ng-template>
    </ngb-tab>
    <ngb-tab id="cash">
        <ng-template ngbTabTitle>
            <a [routerLink]="['/pages/cheque-handle']">Cash</a>
        </ng-template>
        <ng-template ngbTabContent>
        </ng-template>
    </ngb-tab>
</ngb-tabset> -->
<!-- <nav mat-tab-nav-bar>
    <a matTabLink *ngFor="let link of navLinks" [routerLink]="['/'+link.path]" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->