<div class="modal-header">
  <span>Item Details</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-5 col-form-label" > {{ItemCode}} :- {{ItemName}}</label>
      </div>

    </form>
  <form>
    <div class="form-group row">
      <label for="costprice" class="col-sm-3 col-form-label">Item Cost</label>
      <div class="col-sm-8">
        <input [(ngModel)]="costprice" type="text" name="costprice" class="form-control" id="costprice" placeholder="Item Cost">
      </div>
    </div>
    <div class="form-group row">
      <label for="availableQuantity" class="col-sm-3 col-form-label">Quantity</label>
      <div class="col-sm-8">
        <input [(ngModel)]="availableQuantity" type="text" name="availableQuantity" class="form-control" id="availableQuantity" placeholder="Quantity">
      </div>
    </div>
    <div class="form-group row">
      <label for="purchaseData" class="col-sm-3 col-form-label">Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="purchaseData" type="text" name="purchaseData" class="form-control" id="purchaseData" placeholder="Paice">
      </div>
    </div>
    <div role="separator" class="dropdown-divider"></div>
    <div class="form-group row">
      <label for="customerPrice" class="col-sm-3 col-form-label">Customer Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="customerPrice" type="text" name="customerPrice" class="form-control" id="customerPrice" placeholder="Customer price">
      </div>
    </div>
    <div class="form-group row">
      <label for="fabricatorPrice" class="col-sm-3 col-form-label">Fabricater Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="fabricatorPrice" type="text" name="fabricatorPrice" class="form-control" id="fabricatorPrice" placeholder="Fabricater Price">
      </div>
    </div>
    <div class="form-group row">
      <label for="mrpPrice" class="col-sm-3 col-form-label">Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="mrpPrice" type="text" name="mrpPrice" class="form-control" id="mrpPrice" placeholder="Price">
      </div>
    </div>
    <div role="separator" class="dropdown-divider"></div>
    <div class="form-group row">
      <label for="customerPrice" class="col-sm-3 col-form-label">Customer Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="customerPrice" type="text" name="customerPrice" class="form-control" id="customerPrice" placeholder="Customer price">
      </div>
    </div>

    <div class="form-group row">
      <label for="customerPrice" class="col-sm-3 col-form-label">Customer Price</label>
      <div class="col-sm-8">
        <input [(ngModel)]="customerPrice" type="text" name="customerPrice" class="form-control" id="customerPrice" placeholder="Customer price">
      </div>
    </div>
  </form>
</div>
<ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>

<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="saveItems()">proceed</button>
  <button class="btn btn-hero-secondary btn-demo" (click)="closeModal()">Close</button>
</div>
