<div class="modal-header">
  <span>Issues Summery</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <h5>PROB 2226</h5>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Description
      </div>
      <div class="col-md-9">
        Credit collection delayed in
        <i>Downtown</i> area. Reported by collection officer
        <i>Noris</i>. Collection officer
        <i>Allen</i> will be helping officer
        <i>Noris</i> to resolve this issue.
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Type
      </div>
      <div class="col-md-9">
        Proposed
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Reported By
      </div>
      <div class="col-md-9">
        Noris
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Priority
      </div>
      <div class="col-md-9">
        8
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Completed Date
      </div>
      <div class="col-md-9">
        2018-06-01
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Helping Person
      </div>
      <div class="col-md-9">
        Allen
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        TODO
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th>Assignee</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Talk to head of collections</td>
              <td>Victor Flemming</td>
              <td>2018-06-01</td>
            </tr>
            <tr>
              <td>Help officer Noris</td>
              <td>Allen Moriarty</td>
              <td>2018-06-20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div role="separator" class="dropdown-divider"></div>
  <div>
    <h5>PROB 2227</h5>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Description
      </div>
      <div class="col-md-9">
        Sales of perfume items are reduced...
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Type
      </div>
      <div class="col-md-9">
        Uncompleted
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Reported By
      </div>
      <div class="col-md-9">
        Kissyfur
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-md-3">
        Priority
      </div>
      <div class="col-md-9">
        8
      </div>
    </div>
    
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="closeModal()">PDF</button>
  <button class="btn btn-hero-secondary btn-demo" (click)="closeModal()">Close</button>
</div>