<nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-2">
          Purchase Order
        </div>
        <div class="col-md-8">
          &nbsp;
        </div>
        <div class="col-md-2">
          <button class="btn btn-success input-group-text pull-right" (click)="showModal()">
            + Add Purchase Order
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <purchase-order-list></purchase-order-list>
    </nb-card-body>
  </nb-card>