.bg-text {
    padding: 15px;
    background-color: #f2f2f2;
    text-align: right;
}

.bg-text-hollow {
    padding: 15px;
    
}

.margin-bottom-30 {
    margin-bottom: 30px;
  }

  .kpi-target{
    text-align: right;
}

